* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 118vh;
  width: 100vw;
  min-width: 470px;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  color: #9c9c9c;
}

header {
  width: 100%;
  height: 110px;
  border-bottom: 1px solid rgba(186, 186, 186, 0.59);
}

.header-container {
  height: 100%;
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-container span {
  font-size: 21px;
}

.search-container {
  max-width: 80%;
  margin: auto;
  height: 125px;
  display: flex;
  align-items: center;
}

.search-row {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
}

.search-bar-container {
  position: relative;
  height: 100%;
  width: 500px;
  max-width: 60%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: white;
  color: grey;
  box-shadow: 0 0 10px #c3c3c3;
  overflow: hidden;
  transition: all 1s;
  autofill: white;
}

.search-bar-container:hover, .search-bar-container:focus {
  box-shadow: 0 0 20px #c3c3c3;
}

.search-bar-container:active i {
  transform: scale(0.9);
}

#search-bar {
  border: 0;
  outline: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: grey;
}

.search-button {
  background: #6597ec;
  outline: none;
  border: none;
  color: white;
  height: 100%;
  position: absolute;
  right: 0;
  cursor: pointer;
  width: 20%;
}

.search-button i {
  font-size: 14px;
}

.layout-buttons {
  display: inline-block;
  height: 100%;
  width: 45px;
  margin-left: 8px;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: all 1s;
  border-bottom: 2px solid transparent;
}

.layout-buttons:hover {
  border-bottom: 2px solid #6597ec;
}

.layout-buttons svg {
  height: 100%;
}

.layout-buttons:nth-of-type(1) {
  background-image: url("./assets/view-btns/small.svg");
  margin-left: 35px;
}

.layout-buttons:nth-of-type(2) {
  background-image: url("./assets/view-btns/large.svg");
}

.layout-buttons:nth-of-type(3) {
  background-image: url("./assets/view-btns/list.svg");
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 80%;
  margin: 20px auto;
  position: relative;
}

.smallThumbs, .largeThumbs {
  box-shadow: 0 0 3px #adadad;
  margin-top: 1vw;
  display: flex;
  flex: initial;
  flex-direction: column;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./assets/loader.gif");
  background-position: center;
}

.transition {
  transition: all .5s;
}

.smallThumbs {
  position: relative;
  height: 15.2vw;
  width: 250px;
  max-width: 19%;
}

.largeThumbs {
  position: relative;
  height: 20.3vw;
  width: 375px;
  max-width: 32.5%;
}

.image {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
}

.image img {
  width: 120%;
  height: auto;
}

.image-link {
  height: 100%;
  width: 100%;
}
