* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  min-height: 100vh;
  transition: background .5s;
}

.lightTheme, .darkTheme {
  clip-path: circle(31% at 49% 25%);
  height: 150px;
  width: 50px;
  position: absolute;
  right: 12vw;
  top: 30px;
  border: none;
  outline: none;
  background: transparent;
  background-image: url("./assets/view-btns/sun-and-moon.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.lightTheme {
  transform: rotate(180deg);
  clip-path: circle(31% at 51% 75%);
}

body {
  min-height: 100%;
  width: 100vw;
  min-width: 470px;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  color: #9c9c9c;
}

header {
  width: 100%;
  height: 110px;
  border-bottom: 1px solid rgba(186, 186, 186, 0.59);
}

.header-container {
  height: 100%;
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-container span {
  font-size: 24px;
}

.search-container {
  max-width: 80%;
  margin: auto;
  height: 125px;
  display: flex;
  align-items: center;
}

.search-row {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
}

.search-bar-container {
  position: relative;
  height: 100%;
  width: 500px;
  max-width: 60%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: white;
  box-shadow: 0 0 10px #c3c3c3;
  overflow: hidden;
  transition: all 1s;
  autofill: white;
}

.search-bar-container:hover, .search-bar-container:focus {
  box-shadow: 0 0 20px #c3c3c3;
}

.search-bar-container:active i {
  transform: scale(0.9);
}

#search-bar {
  border: 0;
  outline: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: grey;
}

.search-button {
  background: #6597ec;
  outline: none;
  border: none;
  color: white;
  height: 100%;
  position: absolute;
  right: 0;
  cursor: pointer;
  width: 20%;
}

.search-button i {
  font-size: 14px;
}

.layout-buttons {
  align-self: center;
  height: 75%;
  width: 40px;
  margin-left: 20px;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: all .4s;
  background-color: #c3c3c3;
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
}

.layout-buttons:active {
  transform: scale(0.95);
}

.layout-buttons:nth-of-type(1) {
  mask-image: url("./assets/view-btns/small.svg");
  margin-left: 35px;
}

.layout-buttons:nth-of-type(2) {
  mask-image: url("./assets/view-btns/medium.svg");
}

.layout-buttons:nth-of-type(3) {
  mask-image: url("./assets/view-btns/large.svg");
}

.active {
  background-color: #6597ec;
}

.display-count {
  position: absolute;
  width: auto;
  top: 198px;
  font-size: 12px;
  font-style: italic;
}

.nav-button-container {
  text-align: center;
}

.nav-button-container i {
  font-size: 15px;
}

.page-number {
  font-size: 14px;
}

.nav-buttons {
  height: 20px;
  width: auto;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 14px;
  transition: all .3s;
  color: #e9e3e3;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.nav-buttons:hover {
  color: #6597ec;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 80%;
  margin: 20px auto;
  position: relative;
}

.smallThumbs, .mediumThumbs, .largeThumbs {
  box-shadow: 0 0 3px #adadad;
  margin-top: 1vw;
  display: flex;
  flex: initial;
  flex-direction: column;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./assets/dots.gif");
  background-position: center;
  background-size: 100%;
}

.transition {
  transition: all .1s;
}

.smallThumbs {
  position: relative;
  height: 15.2vw;
  width: 250px;
  max-width: 19%;
}

.mediumThumbs {
  position: relative;
  height: 20.3vw;
  width: 375px;
  max-width: 32.5%;
}

.largeThumbs {
  position: relative;
  height: 30.3vw;
  width: 570px;
  max-width: 49%;
}

.image {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  box-shadow: 0 0 10px #adadad;
}

.image img {
  width: 120%;
  height: auto;
}

.image-link {
  height: 100%;
  width: 100%;
}

footer {
  bottom: 0;
  height: 110px;
  width: 100%;
  margin-top: 115px;
}

@media screen and (max-width: 500px) {
  .smallThumbs, .largeThumbs {
    height: 275px;
    max-width: 100%;
    width: 100%;
    margin-top: 20px;
  }
  .image-container {
    max-width: 90%;
    margin: 20px auto;
  }
  .layout-buttons {
    display: none;
  }
  .search-bar-container, .search-row {
    width: 100%;
    max-width: 100%;
  }
  .search-bar {
    width: 500px;
    max-width: 100%;
  }
  body {
    min-width: 0;
  }
}

.dark {
  background: black;
  transition: all .5s;
}

.dark header {
  border-bottom: .5px solid #269FD7;
}

.dark header strong {
  color: #269FD7;
}

.dark .smallThumbs, .dark .mediumThumbs, .dark .largeThumbs, .dark .image {
  box-shadow: none;
}

.dark .search-bar-container {
  box-shadow: none;
}

.dark .layout-buttons {
  background: white;
}

.dark .active, .dark .search-button {
  background: #269FD7;
}

.dark .nav-button-container .nav-buttons:hover {
  color: #269FD7;
}
